.front-layer {
  display: grid;
  grid-template-areas:
    '. . .'
    '. menu .'
    '. text .';
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  z-index: 1;
}

.front-layer__window {
  grid-area: menu;
}

.window {
  height: 380px;
  width: clamp(470px, 65vw, 650px);
  background-color: rgba(101, 101, 101, 0.5);
  backdrop-filter: blur(10px);
  /* display: grid;
  grid-gap: 3%;
  align-content: center;
  justify-content: center;
  justify-items: center; */
}

@media (width <= 640px) {
  .window {
    height: 320px;
    width: 430px;
  }
}

@media (width <= 475px) {
  .window {
    height: 250px;
    width: 380px;
  }
}

@media (width <= 380px) {
  .window {
    height: 200px;
    width: 310px;
  }
}
